<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <form action="" method="post">
        <p>
	    <label for="startdate">Start date</label> 
	    <input type="datetime" name="startdate">
	</p>
	<p>
	    <label for="enddate">End  date</label>
	    <input type="datetime" name="enddate">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
</body>
</html>